$bodyBgColor: #FAFCFF;
$topMenuActiveBgColor: #F5F7FA;
$settingBgColor: #F0F2F5;
$headerBgColor: #ffffff;
$cardBgColor: #ffffff;

$bodyBgColorDark: #333333;
$topMenuActiveBgColorDark: #666666;
$settingBgColorDark: #666666;
$headerBgColorDark: #141414;
$cardBgColorDark: #141414;