@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hmenu-border-color: #F2F6FC;
  --topmenu-active-bgcolor: #F5F7FA;
}
html,
body,
#app {
  height: 100%;
  background-color: #FAFCFF;
  font-family: var(--el-font-family);
}

:-webkit-autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

:autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

body {
  --sb-track-color: #cccccc;
  --sb-thumb-color: #f7f7f7;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.el-menu {
  border-right: none !important;
}
.el-menu--horizontal.el-menu {
  border-bottom: 1px solid var(--hmenu-border-color) !important;
}

.el-header {
  border-bottom: 1px solid var(--hmenu-border-color) !important;
}
.el-aside {
  border-right: 1px solid var(--hmenu-border-color) !important;
}

.el-menu-item:not(.is-disabled):hover {
  background-color: transparent;
}

.el-menu-item.is-active,
.el-menu-item:not(.is-disabled):focus {
  background-color: var(--topmenu-active-bgcolor);
}