@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #FAFCFF;
  --topmenu-active-bgcolor: #F5F7FA;
  --setting-bgcolor: #F0F2F5;
  --header-bgcolor: #ffffff;
  --card-bgcolor: #ffffff;
}

html.dark {
  --body-color: #333333;
  --topmenu-active-bgcolor: #666666;
  --setting-bgcolor: #666666;
  --header-bgcolor: #141414;
  --card-bgcolor: #141414;
}

html,
body,
#app {
  height: 100%;
  background-color: var(--body-color);
  font-family: var(--el-font-family);
}

:-webkit-autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

:autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

body {
  --sb-track-color: #cccccc;
  --sb-thumb-color: #f7f7f7;
  --sb-size: 4px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.el-menu {
  border-right: none !important;
}

.el-menu--horizontal.el-menu {
  border-bottom: 1px solid var(--el-border-color) !important;
}

.el-header {
  border-bottom: 1px solid var(--el-border-color) !important;
}

.el-aside {
  border-right: 1px solid var(--el-border-color) !important;
}

.el-menu-item:not(.is-disabled):hover, 
.el-sub-menu__title:hover, 
.el-menu-item.is-active,
.el-menu-item:not(.is-disabled):focus  {
  background-color: var(--topmenu-active-bgcolor) !important;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
  background-color: var(--topmenu-active-bgcolor) !important;
}

.el-drawer__header {
  border-bottom: 1px solid var(--el-border-color) !important;
  margin-bottom: 0 !important;
  padding-bottom: 10px !important;
}