:root {
  --sb-track-color: #cccccc;
  --sb-thumb-color: #f7f7f7;
  --sb-size: 4px;
}

html,
body,
#app {
  height: 100%;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

body {
  background-color: #f7f7f7 !important;
  transition: background-color var(--el-transition-duration-fast) !important;
}

html.dark {
  body {
    background-color: transparent !important;
  }

  .v-card {
    background-color: var(--el-bg-color-overlay);
  }
}


:-webkit-autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

:autofill {
  box-shadow: inset 0 0 0 2000px #fff;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}